.TituloBanner{
    text-align: center;
}
.ContainerCenterTitulo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.OfertasBannerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.ButtonRight{
    position: relative;
    left: 7%;
}

.btnBannerAdd{
    display: flex;
    justify-content: center;
    align-items: center;
    height:5vh;
}

.RowTitleBtnBanner > div h1{
    color:white;
    font-size:2rem;
    font-weight:bold;
    text-shadow: 0.1rem 0.1rem #333;
    margin: 10px;
    padding:2px;
}

.RowTitleBtnBanner {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}


@media (max-width: 400px){

    .RowTitleBtnBanner > h1{
        margin-left:20px !important;  
        margin-right:20px !important; 
    }

}