.DELETEPEDIDO {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin: 2rem;
    color: white;
    text-shadow: 4px 4px 10px black;

}

.marginDelPedido {
    margin: 40px;
}

.PaiDelPedido {
    display: flex;
    flex-direction: column;
}

.FormTextArea {
    width: 100% !important;
}

.contentCliCancel{
    width: 80vw;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: 20px 5px 5px 5px ;
    background-color: rgba(255, 255, 255, 0.5);
    overflow-x: scroll;
    

}

.contentListCli {
    height: 100% !important;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.1rem;
    flex-direction: column;
    width: 80%;
    
}

.displayFormPedido{
    display: flex;
    align-items: center;
    text-align: center;
}

.displayPedidoId{
    font-size: 1.3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.displayPedidoId input{
    font-weight:bold;
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;

}

.displayFormPedido input{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: none;
    color: black;
    background-color: transparent !important;
    border: none !important;
    width: auto;  
}

.FormularioCancelarDelPedido {
    width: 100%;
    padding: 5px;
    margin: auto;
}

.FormularioCancelarDelPedido label {   
    font-weight: bold;
}

.FormularioCancelarDelPedido textarea {   
    min-height: 5rem;
    min-width: 12rem;
    overflow-y: scroll;
    resize: none;
    margin-bottom: 1rem;
}


@media screen and (max-width: 510px){

    .contentCliCancel{
        width: 80vw;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        border: none !important;
        background-color: transparent !important;
        border-radius: 15px;
        margin: 0px 0px 0px 0px ;
        overflow-x: visible;
    
    }


    .displayFormPedido{
        flex-direction: column !important;
        align-items: center;
        align-content: center;
    }

    .displayFormPedidoCancel{
        margin-left: 0 !important;
    }



    .displayFormPedido input{
        flex-direction: column !important;
        align-items: center;
        align-content: center;
        text-align: center;
    }


    .btnCancelPedidos button{
        width: 100%; 
    }
        
}


@media screen and (max-width: 360px) {

    .ContainerBtnPedidos button{
        width: 100%;    
    }

    .TotalPriceAdm{  
        width: 100%;
        
    }

    .ContainerFormPedidoGet{
        overflow-x: scroll;
    }

}

