.SubmitFormCat{
    margin: 10px;
    background-image: linear-gradient( rgb(1, 1, 150), rgb(20, 20, 87)) ;
    border-radius:15px;
    width: 10rem;
    height: 3rem;
    font-size: 16px;
    font-weight: bold;
}

.inputCadCateg{
    margin-top: 10px ;
}

.inputCadCateg label{
    margin-top: 10px ;
}

.inputCadCateg select{
    height: 2.2rem;
}

.requiredTextBoxOut{
    background-color:rgba(245, 204, 204, 0.875);
    padding: 5px;
    width: 50%;
    border-radius:15px;
    text-align: center;
}


.FormCategCad {
    width: 50%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.686);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
}


.btnCadastarDiv{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.TitleCadCategoria{
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.MainGetCategoria{
    display:flex;
    justify-content: center !important;
    flex-direction: column;
    align-items: center!important;
}

@media  screen and (max-width: 570px) {
    
    .FormCategCad {
        height: 70%;
        width: 70%;
    }
}

@media  screen and (max-width: 375px) {
    
    .FormCategCad {
        height: 80%;
        width: 90%;
    }


    .FormCategCad {
        padding: 10px;
    }

    .TitleCadCategoria{
        font-size: 18px;
    }
    
}

@media  screen and (max-height: 720px) {
    
    .FormCategCad {

        height: 80vh!important;
    }

}


@media  screen and (max-height: 550px) {
    
    .FormCategCad {

        overflow:scroll;
    }

}