.RelatorioBody {
    height: 100vh;
}

.DateDiv {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.DateDiv p {
    font-size: 1.8rem;
}

.Logotipo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.Logotipo p {
    font-size: 2.2rem;
    padding: 15px;
    margin: 7.25px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.ImgLogo {
    max-width: 110px;
    max-height: 110px;
}

.TablesDiv {
    margin-top: 2rem;
    padding: 5px;
}

.TablesTitle {
    font-size: 1.8rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
}


.btnImprimirDiv{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0px 15px 0px 15px;
}

.btnImprimir {
    margin-bottom: 20px;
    padding: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    border: 1px solid;
    border-color: rgb(211, 211, 211);
}

.btnImprimir:hover {
    background-color: rgb(219, 219, 219);
    border-color: rgb(164, 164, 164);
}

.TableRelatorio{
    text-align:center;
}


@media screen and (max-width:630px){

    .tableScrollDiv{
        overflow: scroll !important;
    }

    .TablesDiv th, td{
        font-size: 13px;
    }


    .DateDiv p {
        font-size: 1.2rem;
        padding: 0;
    }
    
    
    .Logotipo p {
        font-size: 1.2rem;
        padding: 5px;
        margin: 1.25px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .ImgLogo {
        max-width: 50px;
        max-height: 50px;
    }

    .DateDiv {
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    
}

.btnExport{
    border: 1px solid rgb(126, 126, 126);
    box-shadow:1px 1px 2px black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.btnExport:hover{
    border: 1px solid rgb(27, 27, 27);
    box-shadow:1px 1px 3px black;
    background-color: rgb(219, 219, 219);
}



@media print {
    .btnImprimir {
        display: none;
    }

    .btnExport{
        display: none;
    }
}
