
/*Valor Do Card*/
.cardValorAdm{
    color: var(--adminDarkBlue);
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/*Botões do card*/

.btnAdm,.btnAdm:visited{
    display: flex;
    margin: auto;
    outline: 0 !important;
    width:5rem !important;
    height:1.7rem !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.RowEditbtn{
    justify-content: center;
}

.idProductInvInput{
    display: none;
}

.btnAdmDeletar,.btnAdmDeletar:visited{
    background-color: var(--strongRed)  !important;
    border-color: rgba(0, 0, 0, 0.384) !important;
    color:white !important;
}

.btnAdmEditar, .btnAdmEditar:visited{
    background-color: rgb(255, 203, 34)  !important;
    border-color: rgba(0, 0, 0, 0.384) !important;
    color:white !important;
}

/*Botões dos cards ao ter o mouse sobre o mesmo*/

.btnAdmDeletar:hover{
    background-color: var(--strongRedHover) !important;
}

.btnAdmEditar:hover{
    background-color: rgb(255, 153, 0) !important;
}
