
/* Texto em destaque("Em Oferta, Todos os produtos") */

.h1Destaque{
    font-size: 1.6rem !important;
    color: var(--darkRed);
    padding:15px;
    text-decoration: underline;
    margin-top:2rem;
}

/* deixar a NavBar Fixa */

.FixedTop{
    position: fixed !important;
    top: 0px !important;
    width: 100%;
    z-index: 600 !important;
}

/* Margem para o topo da página, para separar-lo da nav */

.Main-index{
    margin-top: 10rem;
}

/* Margem para separar o carrousel de ofertas */

.Carousel-main{
    margin: 20px !important;
}

/* Container de cor cinza claro, envolta do carrosel de ofertas */

.ofertasContainer{
    background-color: #e0e0e044;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    height: 32rem;
    
}

/* área interna do carrousel */

.Carousel-inner{
    max-width: 90vw!important;
    padding: 0;
}

.ProdutosCliContent{
    overflow-x: hidden;
    width: 1224px;
    padding: 15px;
}

/* Cabeçalho de Título do Offcanvas do carrinho */

.MenuLateralCarrinho{
    background-color: var(--strongRed)!important;
    border-left: 1px solid;
    border-bottom: 2px solid;
}

/* Corpo do Offcanvas do carrinho */

.offcanvasBodyCarrinho{
    border-left: 1px solid;
}

/* Imagem do Carrinho no Offcanvas do carrinho */

.imgCarrinhoOffcanvas{
    font-size: 1.6rem;
    margin:0rem 1.2rem 0rem 1rem;
    font-weight: bold;
}

/* Div envolta do Botão de Fazer Pedido no Offcanvas do carrinho */

.btnFazerPedidoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Botão de Fazer Pedido no Offcanvas do carrinho */

.btnFazerPedido{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 80% !important;
}

/* Responsividade para menos de 551px */

@media screen and (max-width: 551px) {
    .Main-index{
        margin-top: 11rem;
    }
}

/* Responsividade para menos de 400px */

@media screen and (max-width: 400px) {

    .ofertasContainer{
        padding: 0rem;
        margin: 0rem;
        border-radius: 1rem;
        height: 32rem;
        
    }
}