
/*Tag principal do menu*/
/*Cor de fundo do menu */
/*E centralizar os elementos no centro*/
.NavbarCategoria{
    width: 100%;
    height: 45px;
    max-height:45px;
    background-color:var(--lightRed) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Resposável por definir a largura maxima*/
.Categoria-nav{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

/*============================================BUTTON MENU=====================================*/
/*Criando um icon de button do menu*/

/*Definindo a largura do button e sua altura */

.Button-menu-categoria{
    width: 100%;
    height: 100%;
    max-width: 45px;
    max-height: 45px;
    border: solid 1px rgba(0, 0, 0, 0.205);
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    border-radius:10px;
    padding: 2px;
}


.linha-1{
    width: 30px;
    margin: 2.2px;
    height: 5px;
    background-color: var(--darkRed);
    border-radius: 3px;
}

/*============================== Configurando a cor a fonte padrão dos links das categorias ======================*/
.TextCategoria{
    font-family: 'Roboto', sans-serif;
    color: var(--darkRed);
    font-weight: bold;
}
.categoria-buttton-texto{
    display: flex;
    align-items: center;
    margin: 20px;
}
.button-text{
    margin-top: 15px;
    margin-left: 10px;
}
/*========================================== CONFIGURANDO O MENU  DOS LINKS ================================================*/
.TextCategoria-link{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--darkRed);
    background-color: transparent!important;
    border:none;
    display:flex;
}

.TextCategoria-link{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--darkRed);
    background-color: transparent!important;
    border:none;
    display:flex;
    align-items: center;
    
}

.btn-check:checked+.btn-danger{
    color: #fff;
    background-color: #b02a37 !important;
    border-color: #a52834;
    border-radius: 0;
    height:auto;
}

.TextCategoria-link:hover{
    color: var(--strongRedHover);
}
.Navs-links{
    width: 100%;
    height: 53px;
    max-width: 600px;
    overflow: hidden;
    margin: auto;
    display: flex;
}



/* ================================================== Configurandop o menu lateral =================================*/



/* ================================================== Configurando o menu lateral =================================*/
.MenuLateral-container{
    background-color: var(--lightRed) !important;
    width:30vw;
    border-radius: 0px 20px 0px 0px;
    border-right: 2px solid rgb(0, 0, 0) !important;
}


.lista-lateral-categorias{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    padding-left: 0rem !important;
}

.lista-links-lateral{
    
    padding-left: 0 !important;
}

.btnRemoverFiltro{
    border-radius: 20px !important;
    font-family: 'Roboto', sans-serif;
    color: var(--darkRed);
    font-weight: bold;
    margin-bottom: 2rem;
}

.btnRemoverFiltroNav{
    border-radius: 10px !important;
    font-family: 'Roboto', sans-serif;
    color: var(--darkRed);
    font-weight: bold;
    font-size:12px;
    margin: 0.2rem 2rem 0.2rem 0.5rem !important;
    display: flex;
    align-items: center;
}

.btnRemoverFiltroNav:hover{
    color: white;
    
}

.btnCategorias{
    border-radius: 0px !important;
    border: none;
    border-bottom: 1px solid var(--darkRed);
    font-family: 'Roboto', sans-serif;
    color: var(--darkRed);
    font-weight: bold;
    background-color:transparent !important;
    margin-bottom: 0.5rem;

}

.btnCategorias:hover,.btnCategorias:checked{
    
    background-color: #b02a37 !important;
    

}



.offcanvas-headerCategoria {
    background-color:var(--darkRed) !important;
    border-radius: 0px 20px 0px 0px;
}

.lateralDiv{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
}


/* ================================================== Responsividade =================================*/

/*------Responsividade para menos de 780px--------*/
@media screen and (max-width:780px){

    .TextCategoria-link{
        font-size: 12px;
        margin-left:0;
    
    }

    .lista-links{
        margin: 0;
        padding: 0;
    }

    .TextCategoria{
        font-size: 12px;
    }

}

/*------Responsividade para menos de 680px--------*/

@media screen and (max-width: 680px){

    .TextCategoria-link{
        font-size: 10px;
    }

    .MenuLateral-container{
        width:70vw !important;
    }
    .btnRemoverFiltroNav{
        font-size:10px;
        margin: 0.1rem 0.3rem 0.1rem 0.5rem !important;
        
    }
}

/*------Responsividade para menos de 580px--------*/

@media screen and (max-width: 580px){

    .TextCategoria-link{
        display: none  !important;
    
    }


    .btnRemoverFiltroNav{
        display: none !important;
        
    }
}