@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.SobreContainer{
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.SobreTitulo{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: rgb(109, 109, 109);
    text-align: right;
    margin-bottom: 100px;
    display:flex;
    justify-content: flex-start !important;
    width: 100%;

}
.SegundoTitulo{
    font-size:22px;
    font-family: 'Roboto', sans-serif;
    color: rgb(109, 109, 109);
    margin-bottom: 19px;
}
.TEXTSOBRENOIS{
    color: rgb(109, 109, 109);
    margin-bottom: 19px;
}
.container{
    max-width: 1024px;
    display: flex;    
}
.iconeFalse{
    width: 80px;
    height: 80px;
    background-color:  rgb(221, 218, 221);
}
.container-flex{
    margin: 20px;
}