
/*Padding E Cor de fundo Do Footer*/

.footerCli{
    background-color: var(--strongRed);
    margin: 0;
    padding: 10px;

}

/*alinhamento, e cor da lista do footer (Direita)*/


.footerCli ul{
    display: flex;
    justify-content: center;
    align-items: center;
}



.footerCli ul>li{
    color: white;
    justify-content: center;
    margin: 0.5rem 2.5rem 0rem 0rem;
    text-align: center;
    list-style-type: none;
    margin: 10px;
}

.linkPadraoFooter, .linkPadraoFooter:visited{
    text-decoration: none;
    color: #fff;
}

.linkPadraoFooter:hover{
    text-decoration: none;
    color: rgb(89, 11, 11);
}

/*alinhamento, e cor da lista de Icones Sociais do footer (Esquerda)*/

.socialItens{
    color: white;
    justify-content: center;
    margin: 0.5rem 1rem 0rem 0rem; 
    height:2rem;
    width: 1.5rem;
}
.fotter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    margin: 10px;
}
.Item{
    margin: 10px;
    padding: 10px;
}
.footerGroup ul{
    width: 100% !important;   

    display: flex;

}

/*Responsividade para a baixo dos 1030px*/

@media (max-width: 1030px){

    .footerCli ul>li{
        margin: 0rem 2.5rem 0rem 0rem;
        width: 10vw;
    }

    .socialItens{
        width: 5vw;
    }

}


@media screen and (max-width: 600px){
    .fotter{
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin: 0; 
    }
    .footerCli{
        padding: 0 !important;
        height: 40vh !important; 
    }
    .Item ul{
        display: flex;
    }
    .Item{
        margin: 0;
    }
    .container{
        padding: 0 !important;
    }
}