/*Botão de Adicionar mais produtos*/

button.add {
    background-color: rgba(145, 145, 145, 0.459);
    width: 2rem;
    max-height: 1.6rem;
    display:flex;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
    border: solid 1px;
}

/*Botão de Remover produtos*/

button.remove {
    background-color: rgba(145, 145, 145, 0.459);
    width: 2rem;
    max-height: 1.6rem;
    display:flex;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    border: solid 1px;
    font-weight: bold;
}

/*Efeitos de hover para os botões*/

button.remove:hover {
    background-color: var(--strongRedHover);
}
button.add:hover {
    background-color: var(--cyan);
}


.btnFazerPedido a{
    text-decoration: none;
    color: white;
}


/*Div envolta dos itens do carrinho*/

.carrinhoItem{
    display:flex;
    justify-content: flex-end;
    margin-top:20px;
    margin-bottom:20px;
}

/* Preço do produto no carrinho */

.carrinhopreco{
    display:flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 0.9rem;
}

/* Grupo de botões do carrinho */

.btns-carrinho{
    display:flex;
    justify-content: center;
}

/* Nome do produto no carrinho */

.carrinhoItemNome{
    text-align: start;
    display: flex;
    font-weight: bold;
}

/* alinhamento do Preço final no carrinho */

.carrinhoPrecoFinal{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Preço final no carrinho */

.carrinhoPrecoFinalValor{
    margin-left: 20px;
    font-size: 1.3rem;
}

/* Responsividade para a baixo de 800px */

@media (max-width: 800px){

    .carrinhoItemNome{
        font-size: 0.8rem;
    } 
}