.content{
    min-height: 80vh !important;
    display: flex !important;
}

.RowSmCards{
    display: flex;
    margin: 20px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}


.cardGanhos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    width: 100%;

}

.titleGanhos{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    

}

.GanhosDate{
    font-size: 1.5rem;
    margin: 7.5px;
    padding-right: 15px;
    text-decoration: underline;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

}

.cardGanhos img{
    display: none;
}

.cardGanhos >.cardAdm-sm{

    border: solid 1px var(--adminDarkBlue);
}
    



.cardGanhos h1{
    font-size: 1.2em;
    text-decoration: underline;
    color:rgb(0, 54, 124);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3) !important;
}

.cardGanhos p{
    font-size: 1.2em;
    margin: 5px;
    padding: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

}

.containerBtnEmRelatorio{
    display: flex;
    justify-content:center;
    width: 79vw !important;
    margin: 10px;
    position: relative;

    border-radius: 5px;
    padding: 15px;
    margin-bottom: 2rem;

}

.btnEmitirRelatorio{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}



.btnEmitirRelatorio a{
    color: #fff;
    text-decoration: none;

}



@media screen and (max-width: 330px){
    
    .titleGanhos{
        justify-content:center;
    
    }

    .GanhosDate{
        padding-right: 0px;

    }
}
