/*Configurações Do Banner*/

.bannerOfertasImg{
    width:1350px;
    height:380px;
}

/*Configurações Dos Indicadores Do Banner*/

/*Tamanho dos Indicadores*/

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
}

/*Deixando Redodondo e com borda Vermelha*/
.carousel-indicators > button {
    border-radius: 50% !important;
    border: solid 1px var(--strongRed) !important;
}

/*Mudando Opacidade ao estar ativo*/
.carousel-indicators .active {
    opacity: 1;
}

/*Mudando Opacidade das setas*/
.carousel-control-next, .carousel-control-prev {
    opacity: 1;
}

/*circulo transparente*/
.carousel-control-prev-icon,.carousel-control-next-icon {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    width:40px;
    height: 40px;

    /*Para Mudar o Icone, Coloque um background-image aqui*/
}

/*==================================

    Tentei deixar as setas vermelhas, 
    porém são icones em imagem por cdn
    experimentei com um outro icone já vermelho, 
    e não ficou mt destacado, mude o que achar melhor
==================================*/



/*------Responsividade para menos de 780px--------*/
@media screen and (max-width:780px){

    .bannerOfertasImg{
        
        height:50vh;
    }
}

/*------Responsividade para menos de 550px--------*/
@media screen and (max-width:550px){

    .bannerOfertasImg{
        width:auto;
        height:auto;
    }
}


/*------Responsividade para menos de 440px--------*/
@media screen and (max-width:440px){

    .bannerOfertas{
        display:none;
    }
}