
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');
.ErroContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
}
.ErroContainer{
    
}
.ErroText{
    font-size: 60px;
    text-align: center;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 5px 1px #000;
}
.tituloErro{
    font-size: 300px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 5px 1px #000;
}