/* Reset Css */

*{
  box-sizing: border-box; /*Faz com que container não utrapasse seu limite*/
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}


/* Variaveis de cores */
:root {
  --darkRed: #660C00;
  --strongRed: #BE1600;
  --strongRedHover: #ee260c;
  --lightRed: #F2DCD9;
  --cyan: #76f7ec;
  --adminLightBlue: rgba(146, 193, 231, 0.623);
  --adminDarkBlue: rgb(57, 156, 214);
}

.content{
  min-height: 80vh !important;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.adm {
  background-image: linear-gradient(
      var(--adminLightBlue),
      rgba(61, 153, 230, 0.76)
  );
  background-size: cover;
  height: 100%;
}

.admGer{
  background-image: linear-gradient(
    rgba(29, 114, 194, 0.986),
      rgba(255, 255, 255, 0.76)
  );
  background-size: cover;
  height: 100vh;
}


.row>* {
  width: auto !important;
  padding: 0!important;
}

.row.center {
  align-items: center;
}

.block {
  background-color: #e0e0e044;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 2rem;
}

img.small {
  max-height: 8rem;
}



