.TituloProduto{
    text-align: center;
}
.EditImagem{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.ContainerExibir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 80vh;
    height: 100%;
    width: 100%;
}
.AddImagem{
    border: solid 1px rgb(57, 156, 214);
    padding: 50px;
    background-color: #fff;
    height: 150px;
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    border-radius:10px;
}

.imgAdd{
    height: 120px;
    width: 120px;
}

.ExibirImagem{
    border: solid 1px rgb(57, 156, 214);
    height: 300px;
    width: 300px;
    margin-left: 20px;
    background-color: #fff;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius:10px;
}

.ImagemProd{
    height: 290px;
    width: 290px;
    margin-left: 20px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.ImagemContainer{
    width: 45%;
    height: 100%;
    display: flex;
}

/*------------------------------------------------------------
                        EDITANDO FORMULÁRIO
-------------------------------------------------------------*/


.ModalEditar button{

    border-radius: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 25px 2px;
    font-weight: bold;
}

.ModalEditar button.btn{

    background-color: var(--adminDarkBlue);
}

.ModalEditar button.btn:hover{

    background-color: rgb(35, 128, 204);
}


.ExibirForm{
    width: 50%;
}

.FormCadastroProdEdit{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.FormCadastroProdEdit input, .FormCadastroProdEdit select{
    margin-left:0px;
    width: 100% !important;
}

.FormCadastroProdEdit label{

    font-weight: bold;
    text-align: center;
    align-items:center;
    justify-content: center;
    display: flex;
}
.labelprod{
    margin-left:10px;
    margin-right:10px;
    width:150px;
}


.ConjuntoForm{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100% ;
    margin-top: 20px;
}

.NomeExibir{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-right: 40px;
    width: 80px;
}

.mgdw{
    margin-bottom: 15px;
}


@media screen and (max-width: 1200px) {
    
    .FormCadastroProdEdit{
        
        margin-left: 2rem;
    }

}

@media screen and (max-width: 910px) {
    
    .ExibirImagem{
        height: 250px;
        width: 250px;
    }
    
    .ImagemProd{
        height: 240px;
        width: 240px;
    }

    .FormCadastroProdEdit{
        
        margin-left: 3rem;
    }

}

@media screen and (max-width: 798px) {
    .ContainerExibir{
        max-height: 100% !important;
        margin: auto;
    }
    .ImagemContainer{
        width: 100%;
    }
    .ExibirForm{
        width: 100%;
        margin-bottom: 40px;
    }
    .adm{
        height: 100%;
    }

    .ExibirImagem{
        height: 250px;
        width: 250px;
    }
    
    .ImagemProd{
        height: 240px;
        width: 240px;
    }

    .FormCadastroProdEdit{
        
        margin-left: 0.5rem;
    }
    
}

@media screen and (max-width: 500px) {

    .ExibirImagem{
        height: 60%;
        width: 60%;    
    }
    
    .ImagemProd{
        height: 90%;
        width: 90%;
        padding: 10px;
    }

    .AddImagem{
        height: 40% !important;
        width: 40% !important;
        padding: 40px;
    }

    .imgAdd{
        height: 100%;
        width: 100%;
        padding: 5px;
    }

}

@media screen and (max-width: 300px) {

    .ExibirImagem{
        height: 100%;
        width: 100%;
    }
    
    .ImagemProd{
        height: 90%;
        width: 90%;
    }

    .AddImagem{
        height: 30% !important;
        width: 30%;
        padding: 0;
        margin: 0;
        display: flex;
    }

}
